<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin">
    <title></title>
    <script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/defect.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/defect.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="../layui/formSelects-v4.css">
    <script src="../layui/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript"  src="../js/ajaxfileupload.js"></script>
</head>
<body>
<div class="warp">
    <!-- 头部 -->
    <div class="top">
        <div style="width: 100%;height: 50px;">
            <button type="button" class="layui-btn floatBtn" onclick="getChecked('0')">全部缺陷</button>
            <button type="button" class="layui-btn floatBtn" onclick="getChecked('1')">未认领</button>
            <button type="button" class="layui-btn floatBtn" onclick="getChecked('2')">消缺中</button>
            <button type="button" class="layui-btn floatBtn" onclick="getChecked('3')">已消缺</button>
            <button type="button" class="layui-btn floatBtn" onclick="getChecked('4')">已完成</button>
        </div>
        <div style="width: 100%;height: 50px;">
            <form class="layui-form" action="" style="float: left;margin-right: 20px;">
                <input type="hidden" id="systemHidden">
                <input type="hidden" id="equipmentHidden">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-filter="system" lay-search="" id="system"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-filter="equipment" lay-search="" id="equipment"></select>
                    </div>
                </div>
            </form>
            <!--<input placeholder="模糊搜索" type="text" style="float: left;width: 250px;height: 36px;padding-left:10px;border: 1px solid #e6e6e6;margin-right: 20px;" id="keyword">-->
            <button type="button" class="layui-btn layui-btn-normal floatBtn" onclick="addDefect()">新增&nbsp;&nbsp;+</button>
        </div>
    </div>
    <!-- 表格内容 -->
    <div class="content">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="tbMajorBar">
            {{#  if(d.level == 0){ }}
            <span>0类</span>
            {{#  } else if(d.level == 1) { }}
            <span>1类</span>
            {{#  } else if(d.level == 2) { }}
            <span>2类</span>
            {{#  } else if(d.level == 3) { }}
            <span>3类</span>
            {{#  } else if(d.level == 4) { }}
            <span>4类</span>
            {{#  } }}
        </script>
        <script type="text/html" id="tbTypeBar">
            {{#  if(d.type == 1){ }}
            <span style="color: red;">未认领</span>
            {{#  } else if(d.type == 2) { }}
            <span style="color: #ff8100;">消缺中</span>
            {{#  } else if(d.type == 3) { }}
            <span style="color: green;">已消缺</span>
            {{#  } else if(d.type == 4) { }}
            <span style="color: green;">已完成</span>
            {{#  } }}
        </script>
        <script type="text/html" id="tbBeOnDutyBar">
            {{#  if(d.type == 4){ }}
            <span style="color: green;">已确认</span>
            {{#  } else { }}
            <a class="layui-btn layui-btn-xs" lay-event="beOnDuty">值班确认</a>
            {{#  } }}
        </script>
        <script type="text/html" id="tbClaimBar">
            {{#  if(d.empIds == null){ }}
            <a class="layui-btn layui-btn-xs" lay-event="claim">认领</a>
            {{#  } else { }}
            <span style="color: green;">{{d.claimantName}}</span>
            {{#  } }}
        </script>
        <script type="text/html" id="tbHandleBar">
            {{#  if(d.type == 1){ }}
            <a class="layui-btn layui-btn-xs" lay-event="handle">消缺反馈</a>
            {{#  } else if(d.type == 2) { }}
            <a class="layui-btn layui-btn-xs" lay-event="handle">消缺反馈</a>
            {{#  } else if(d.type == 3) { }}
            <span style="color: green;">已消缺</span>
            {{#  } else if(d.type == 4) { }}
            <span style="color: green;">已完成</span>
            {{#  } }}
        </script>
    </div>
    <!-- 新增 -->
    <div class="addDefectDiv">
        <table>
            <thead>
            <tr><td colspan="4" style="text-align: center;font-weight: bold;font-size: 18px;">新增缺陷</td></tr>
            </thead>
            <tbody>
            <tr>
                <th>重大级别</th>
                <td>
                    <form class="layui-form" action="" style="float: left;">
                        <input type="hidden" id="levelHidden">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="required" lay-filter="level" lay-search="" id="level">
                                    <option value="0">0类</option>
                                    <option value="1">1类</option>
                                    <option value="2">2类</option>
                                    <option value="3">3类</option>
                                    <option value="4">4类</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </td>
                <th>检修类别</th>
                <td>
                    <form class="layui-form" action="" style="float: left;">
                        <input type="hidden" id="maintenanceCategoryHidden">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="required" lay-filter="maintenanceCategory" lay-search="" id="maintenanceCategory">
                                    <option value='1'>机务</option>
                                    <option value='2'>电仪</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th>缺陷位置</th>
                <td colspan="3" id='defectLocation' style="padding-bottom: 10px;box-sizing: border-box;">
                    <form class="layui-form" action="" style="float: left;">
                        <input type="hidden" id="addSystemHidden">
                        <input type="hidden" id="addEquipmentHidden">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 183px;">
                                <select name="modules" lay-verify="required" lay-filter="addSystem" lay-search="" id="addSystem"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 182px;">
                                <select name="modules" lay-verify="required" lay-filter="addEquipment" lay-search="" id="addEquipment"></select>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th>缺陷描述</th>
                <td colspan="3"><textarea id='addAbs' rows="5" cols="50" maxlength="100" style="text-indent: 10px;"></textarea></td>
            </tr>
            <tr>
                <th>缺陷图片</th>
                <td colspan="3">
                    <img src="../img/Add.png" style="float: left;margin-top: 10px;"  id="addImg1">
                    <input type="file" id='file' name='file' style="display: none;" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="fileChange(event,'file','one')">
                    <img src="" id="img-change1" class="img-change">
                    <img src="../img/reduce.png" style="float: left;margin-top: 10px;margin-left: 10px;" id="reduceImgAdd" onclick="reduceImg('reduceImgAdd')">
                </td>
            </tr>
            <tr>
                <th>申请人员<input type="hidden" id='addUserId'></th>
                <td colspan="3" id='addCreaterName'></td>
            </tr>
            <tr>
                <th>申请日期</th>
                <td colspan="3" id='createTime'></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <td colspan="4" align="center">
                    <button type="button" class="layui-btn layui-btn-normal"  onclick="insert()">确定</button>
                    <button type="button" class="layui-btn" onclick="cancel()">取消</button>
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <!-- 详细信息 -->
    <div class="detailedInfoDiv">
        <p id="detailedInfoP" style="display: none;"></p>
        <table>
            <thead>
            <tr><td colspan="10" style="text-align: center;font-weight: bold;font-size: 18px;">缺陷详单</td></tr>
            </thead>
            <tbody>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">缺陷编号</th>
                <td id="detailedInfoId"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">所属系统</th>
                <td colspan="2" id="detailedInfoSys"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">级别</th>
                <td id="detailedInfoLevel"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">处理类别</th>
                <td colspan="2" id="detailedInfoMan"></td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">状态</th>
                <td colspan="2" id="detailedInfoStatus"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">创建时间</th>
                <td colspan="3" id="detailedInfoCreateTime"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">创建人</th>
                <td colspan="2" id="detailedInfoCreateName"></td>

            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">消缺人</th>
                <td colspan="2" id="detailedInfoStaff"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">计划完成时间</th>
                <td colspan="2" id="detailedInfoPlanedTime"></td>
                <th style="padding-right: 8px;box-sizing: border-box;">实际完成时间</th>
                <td colspan="2" id="detailedInfoRealETime"></td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">缺陷描述</th>
                <td colspan="9"><textarea readonly id='detailedInfoAbs' rows="5" cols="100" maxlength="100"></textarea></td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">处理措施</th>
                <td colspan="9"><textarea readonly id='detailedInfoMethod' rows="5" cols="100" maxlength="100"></textarea></td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">遗留问题</th>
                <td colspan="9"><textarea readonly id='detailedInfoProblem' rows="5" cols="100" maxlength="100"></textarea></td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">备注</th>
                <td colspan="9"><textarea readonly id='detailedInfoRemark' rows="5" cols="100" maxlength="100"></textarea></td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">消缺前图片</th>
                <td colspan="9" style="padding-left: 8px;box-sizing: border-box;">
                    <img src="" id="detailedInfoBImg" class="seeImg" alt="无图片">
                </td>
            </tr>
            <tr>
                <th style="padding-right: 8px;box-sizing: border-box;">消缺后图片</th>
                <td colspan="9" style="padding-left: 8px;box-sizing: border-box;">
                    <img src="" id="detailedInfoAImg" class="seeImg" alt="无图片">
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <td colspan="10" align="center">
                    <button type="button" class="layui-btn" onclick="cancel()">取消</button>
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <!-- 认领 -->
    <div class="claimInfoDiv">
        <p id="claimInfoP" style="display: none;"></p>
        <table>
            <thead>
                <tr>
                    <td colspan="10" style="text-align: center;font-weight: bold;font-size: 18px;">
                        认领缺陷 <input type="hidden" id="claimId">
                    </td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>缺陷编号</th>
                <td>
                    <span id="claimInfoId" style="padding: 0 5px;box-sizing: border-box;"></span>
                </td>
                <th>所属系统</th>
                <td>
                    <span id="claimInfoSys" style="padding: 0 5px;box-sizing: border-box;"></span>
                </td>
                <th>级别</th>
                <td>
                    <span id="claimInfoLevel" style="padding: 0 5px;box-sizing: border-box;"></span>
                </td>
            </tr>
            <tr>
                <th>创建人</th>
                <td>
                    <span id="claimInfoCreateName" style="padding: 0 5px;box-sizing: border-box;"></span>
                </td>
                <th>创建时间</th>
                <td colspan="3">
                    <span id="claimInfoCreateTime" style="padding: 0 5px;box-sizing: border-box;"></span>
                </td>
            </tr>
            <tr>
                <th>缺陷描述</th>
                <td colspan="5" style="padding-left: 8px;box-sizing: border-box;"><textarea id='claimInfoAbs' rows="5" cols="75" maxlength="100"></textarea></td>
            </tr>
            <tr>
                <th>认领人</th>
                <td colspan="5" style="padding-left: 8px;box-sizing: border-box;">
                    <div class="layui-input-inline" style="width: 553px;">
                        <select name="tags" id="tags" lay-verify="required" xm-select="tags">
                        </select>
                    </div>
                    <input type="hidden" id="claimInfoDescribeId">
                </td>
            </tr>
            <tr>
                <th>计划完成时间</th>
                <td colspan="5" style="padding-left: 8px;box-sizing: border-box;">
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 275px;">
                            <input type="text" class="layui-input" name="entryDate" id="test1" readonly="" placeholder="年月日">
                        </div>
                        <div class="layui-input-inline" style="width: 275px;">
                            <input type="text" class="layui-input" name="entryDate" id="test2" readonly="" placeholder="小时">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>消缺前图片</th>
                <td colspan="5" id='tdImg' style="padding-left: 8px;box-sizing: border-box;">
                    <img src="" id="claimInfoImg" class="seeImg" alt="无图片">
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <td colspan="10" align="center">
                    <button type="button" class="layui-btn layui-btn-normal"  onclick="claimOk()">确定</button>
                    <button type="button" class="layui-btn" onclick="cancel()">取消</button>
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <!-- 消缺反馈 -->
    <div class="handleInfoDiv">
        <p id="handleInfoP" style="display: none;"></p>
        <table>
            <thead>
            <tr><td colspan="5" style="text-align: center;font-weight: bold;font-size: 18px;">处理反馈单
                <input id='feedbackId' type="hidden"/>
                <input id='feedbackType' type="hidden"/>
                <input id='feedbackCompleterId' type="hidden"/>
                <input id='feedbackRealSTime' type="hidden"/>
            </td></tr>
            </thead>
            <tbody>
            <tr>
                <th >重大级别</th>
                <td ><span id='feedbackLevel'></span></td>
                <th >检修类别</th>
                <td ><span id='feedbackDepartment'></span></td>
                <td><span id='feedbackTime'></span></td>
            </tr>
            <tr>
                <th>缺陷位置</th>
                <td colspan="4">
                    <span id='feedbackSys'></span>
                    <span id='feedbackEquipment'></span>
                </td>
            </tr>
            <tr>
                <th>缺陷描述</th>
                <td colspan="4">
                    <textarea id="feedbackAbs" rows="5" cols="50" maxlength="100"></textarea>
                </td>
            </tr>
            <tr>
                <th>缺陷情况</th>
                <td colspan="4">
                    <textarea id='feedbackSituation' rows="5" cols="50" maxlength="100"></textarea>
                </td>
            </tr>
            <tr>
                <th>缺陷图片</th>
                <td colspan="4">
                    <img src="../img/Add.png" style="float: left;margin-top: 10px;"  id="addImg2">
                    <input type="file" id='file2' name='file' style="display: none;" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="fileChange(event,'file2','two')">
                    <img src="" id="img-change2" class="img-change">
                    <img src="../img/reduce.png" style="float: left;margin-top: 10px;margin-left: 10px;" id="reduceImgFeed" onclick="reduceImg('reduceImgFeed')">
                </td>
            </tr>
            <tr>
                <th>处理措施</th>
                <td colspan="4">
                    <textarea id='feedbackMethod' rows="5" cols="50" maxlength="100"></textarea>
                </td>
            </tr>
            <tr>
                <th>遗留问题</th>
                <td colspan="4">
                    <textarea id='feedbackProblem' rows="5" cols="50" maxlength="100"></textarea>
                </td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="4">
                    <textarea id='feedbackRemark' rows="5" cols="50" maxlength="100"></textarea>
                </td>
            </tr>
            <tr>
                <th>填写人员</th>
                <td colspan="4" id='feedbackCompleterName'></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <td colspan="5" style="text-align: center;">
                    <button type="button" class="layui-btn layui-btn-warm"  onclick="startFeedback()" id="startFeedbackBtn">开始执行</button>
                    <button type="button" class="layui-btn layui-btn-normal"  onclick="insertFeedback()" id="insertFeedbackBtn">确定</button>
                    <button type="button" class="layui-btn" onclick="cancel()">取消</button>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>
