<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.EquipmentMapper" >

    <resultMap id="equipMap" type="com.howei.pojo.Equipment">
        <result column="id" property="id"></result>
        <result column="type" property="type"></result>
        <result column="name" property="name"></result>
        <result column="department" property="department"></result>
    </resultMap>


    <select id="getEquMap" resultMap="equipMap" resultType="com.howei.pojo.Equipment" parameterType="java.util.HashMap">
        select * from equipment
        <where>
            <if test="type!=null and type!=''">
                type=#{type}
            </if>
            <if test="department!=null and department!=''">
                and department=#{department}
            </if>
        </where>

    </select>

</mapper>